---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("./posts/*.md");

const allTags = [
  ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];

const pageTitle = "All Tags";
---

<BaseLayout pageTitle={pageTitle}>
  <p>All tags in the blog posts</p>
  <ul>
    {
      allTags.map((tag) => (
        <li>
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
