---
import Social from "./Social.astro";
const platform = "github";
const username = "withastro";
---

<footer>
  <hr />
  <div>
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
  </div>
</footer>

<style>
  footer > div {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
